<h1> Bloccit Off </h1>

<p> A self destructing to do list application designed to help you maximize your day. </p>
<p> If you are having trouble: </p>
<ul>
  <li> Making your appointments </li>
  <li> remembering to pick the kids up from practice </li>
  <li> turning your homework in before the deadline </li>
</ul>
<p> Then this will quickly become your favorite application </p>
