    <div class="media">
      <div class="media-body">
          <table class="table table-striped"
          <thead>
            <tr>
               <th>item</th>
               <th>completed</th>
             </tr>
           </thead>
           <tbody>
             <tr>
              <td><%= item.name %></td>
              <td>complete</td>
            </tr>

        </h4>
      </div>
    </div>
  </div>
